#  TASK

Name: Mohammad Aziz
, Student ID: 20192233

In [1]:
import pandas as pd

# Load the dataset `Diabetes.csv`

In [3]:
df=pd.read_csv("Diabetes.csv")

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

> * Do we have missing data?

> * What is the average age of people within this dataset?

> * What is the avergae age of people who have diabetes?

> * What is the avergage age of people who do not have diabetes?

> * What is the avergae blood pressure of those that have Diabetes?

> * Explore the data visually> *

In [5]:
# Do we have missing data?

In [6]:
df.isnull().sum() # no we don't have missing data

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
## What is the average age of people within this dataset?

In [8]:
df['Age'].mean()

33.240885416666664

In [9]:
## What is the avergae age of people who have diabetes?

In [10]:
Diabetes1=df['Glucose']>=140  # diabetes if suger_level > 140 mg/dL. And i got this info from google search.

In [11]:
diabetes_table=df[Diabetes1]

In [12]:
diabetes_table.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
8,2,197,70,45,543,30.5,0.158,53,1
11,10,168,74,0,0,38.0,0.537,34,1
13,1,189,60,23,846,30.1,0.398,59,1

In [13]:
diabetes_table['Age'].mean()

38.13705583756345

In [14]:
## What is the avergage age of people who do not have diabetes?

In [15]:
No_Diabetes=df['Glucose']<=140

In [16]:
No_diabetes_table=df[No_Diabetes]

In [17]:
No_diabetes_table.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1

In [18]:
No_diabetes_table['Age'].mean()

31.609375

In [19]:
## What is the avergae blood pressure of those that have Diabetes?

In [20]:
diabetes_table['BloodPressure'].mean()

73.74619289340102