# CIS7026 - Business Process and Data Analysis

Prepared by Dr Muhammad Rahman

# Week 2 Python Data types, Comparison Operators, Conditional statements

In the week 2 workshop, you will learn/revise the basic concepts of programming with Python such as data types, comparison operators and conditional statements. There are empty cells where you are required to do small tasks. Please, write below # line in those empty cells as # is used to comment code in Python. 
# Note
This course does not require intensive programming in Python. Therefore, we will not go deep in the programming but rather do a crash course during workshop sessions. So that you may get familiar with the basic concepts of Python programming with hands-on practice. 

You can always learn more in your own time with the Online resources provided in the Python Programing section at Moodle.

# Data types 

In this week, we will cover different data types in the Python Language including lists and dictionaries.

# List 

Lists are mutable data type in Python, which means you can change the elements inside the list. Lists are the most important data type on Python.  
This section we will learn: 
1. How to create list 
2. List Slicing and indexing
3. Some list methods 
4. Nested lists 

Note: don't use 'list' word while assigning variable name.

# How to create list

In [1]:
a = [2, 4, 6]

In [2]:
# check
a

[2, 4, 6]

In [3]:
# create b list of containing 8,10,12

In [5]:
#check b
b=[8, 10, 12]
b

[8, 10, 12]

list can hold different object types. For example, numbers, strings, integers etc. Let's change this list 'a'

In [6]:
a = [2, 4, 8, "string"]
a

[2, 4, 8, 'string']

In [7]:
# add element "hello BA" to b list that you have created
b.append("hello BA")

In [8]:
b

[8, 10, 12, 'hello BA']

In [9]:
# check length of list 
len (a)

4

In [10]:
len(b)

4

This means that list a contains 4 elements and you have updated the list structure
# Slicing and Indexing

Indexing a list means that you are trying to find elements based on the index number. In Python, list are zero indexed means that first element of the list will start with zero index. 

Slicing is similar like getting a slice from whole pizza, you can get a slice of list in Python

In [11]:
# let's start with a new list

random_list = [1 , 2 , 3, "pizza", "pasta"]

In [12]:
# get first element 
random_list[0]

1

In [13]:
# get last element. Remember it is 0 indexed list to get the last element you need to substract 1 from length of the list

In [15]:
random_list[-1]

'pasta'

In [16]:
# now get a slice of this list. For example we want both pizza and pasta not the number. 
#When we use this operation it will start from the starting index upto last element
random_list[3:]

['pizza', 'pasta']

In [ ]:
# slice list and get the number
# note here you need to specify the ending index for your slice

In [17]:
random_list[0:3]

[1, 2, 3]

In [18]:
# concatenate two list elements 
# a , b are two list while c is a superset of a and b 
a = [1, 2, 3]
b = [4 ,5, 6]
c = a + b 
c

[1, 2, 3, 4, 5, 6]

In [ ]:
# create two list and concatenate them 
# list1 elements are soap, shampoo
# list2 elements are bread, milk, eggs 
# list3 is your shopping list that contains all elements of list1 and list2

In [19]:
list1=["soap", "shampoo"]
list2=["bread", "milk","eggs"]
list3=list1+list2
list3

['soap', 'shampoo', 'bread', 'milk', 'eggs']

Basic List Methods

In [20]:
# Create a new list
a = [1,2,3]

Use the **append** method to permanently add an item to the end

In [21]:
a.append("last item")

In [22]:
#check 
a

[1, 2, 3, 'last item']

Remove item from the list using *pop* method

In [23]:
#you need to provide index 
# -1 is index for last item that is pythonic way to code
a.pop(-1)

'last item'

In [24]:
#check
a

[1, 2, 3]

lets sort another array with random elements in ascending order

In [25]:
ran_list = [99,44,66,33,22]
ran_list

[99, 44, 66, 33, 22]

In [26]:
ran_list.sort()

In [27]:
ran_list

[22, 33, 44, 66, 99]

In [28]:
# use reverse() method to sort in descending order

In [33]:
ran_list.reverse()
ran_list

[22, 33, 44, 66, 99]

# Nesting Lists
a list or multiple list inside a list

In [34]:
l1 = [1, 2,3]
l2 = [4, 5, 6]
l3 = [7, 8,9]
l4 = [l1 , l2, l3]

In [35]:
#check 
l4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [37]:
# create a nested list l4 of following lists
l1= [2 ,4, 6]
l2 = [8, 10, 12]
l3 =[14, 16, 20]
l4=[l1, l2, l3]
l4

[[2, 4, 6], [8, 10, 12], [14, 16, 20]]

# Dictionaries

*Mapping* is important concept in programming language, it is exactly like finding a location on a map. You know the name of the location and you try to find what's in there. Think of dictionaries as these are maps!

In this section, we will learn 
1. Creating dictionary
2. Accessing dictionary 
3. Basic methods for dictionary

# Creating and accessing dictionary

In [38]:
# create a dictionary with {} and : to signify a key and a value
my_dict1 = {'key1':'value1','key2':'value2'}

In [39]:
# unlike lists in dictionaries you will use key to get the value 
my_dict1['key2']

'value2'

 storing lists and other elements within a dictionary and accessing them

In [44]:
dict2 = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [45]:
# getting the last element using key3
dict2['key3']

['item0', 'item1', 'item2']

In [47]:
# get first item of key3 'item0' 
dict2['key3'][0]

'item0'

In [51]:
dict2['key3'][-1]

'item2'

Here we have used indexing concept of list with dictionaries

**Now your turn** 
create a dictionary called shoping with the following keys and values 

key: dairy   value: milk, bread
 
key: clothes  value: shirt, shoes
 
key: fruits   value: apple, banana, oranges
 
 Once created try to access oranges from the created dictionary

In [53]:
shoping={"dairy value": ["milk", "bread"], "clothes value": ["shirt", "shoes"], "fruits value": ["apple", "banana", "oranges"]}
shoping["fruits value"][-1]

'oranges'

# Dictionary Methods

In [54]:
# Create
dict4 = {'key1':1,'key2':2,'key3':3}

In [55]:
# Method to get keys 
dict4.keys()

dict_keys(['key1', 'key2', 'key3'])

In [56]:
# Method to get all values
dict4.values()

dict_values([1, 2, 3])

In [57]:
# get all items
dict4.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# Comparison Operators 

These operators performs the comparison operations in Python and provide Boolean Output (True or False)

First we'll present a table of the comparison operators and then work through some examples:

<h2> Table of Comparison Operators </h2><p>  In the table below, a=2 and b=6.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [58]:
a = 4 
b = 6

#### Equal

In [59]:
a == a

True

In [60]:
# a == b

#### Not Equal

In [61]:
a != a

False

In [62]:
# a != b

#### Greater Than

In [63]:
a > b

False

In [64]:
# b > a

#### Less Than

In [65]:
a < b

True

In [66]:
# b < a

#### Greater Than or Equal to

In [67]:
a >= b

False

In [68]:
# b>=a

#### Less than or Equal to

In [69]:
a <=b

True

In [70]:
# b<=a

#### chained operations

In [71]:
a < b < 10

True

In [72]:
a<b and b<10

True

In [73]:
a<b or b>10

True

# if, elif, else Statements

Conditional Statements in Python allow computer to perform task when the condition is true 

<code>if</code> 

Verbally, we are telling the computer

"Hey if this condition is True, perform this action"

We can then expand the idea further with <code>elif</code> and <code>else</code> statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if *none* of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for <code>if</code> statements to get a better idea of this:

    if condition1:
        perform action1
    elif condition2:
        perform action2
    else: 
        perform action3

In [74]:
if True:
    print('It is true!')

It is true!

In [75]:
x = (2>3)

if x:
    print('x is True!')
else:
    print('This is False')

This is False

In [ ]:
# input command is used for getting value from user while program is running 
y = int(input("Please tell me if you have found a business for your final assignment. Enter yes or no"))
if y == "yes":
    print("Great work! keep it up")
elif y=="no":
    print("It's never too late. Please find a business for your final assignment")
else: 
    print("I am speechless! Please enter yes or no in lowercase")

#### Now your turn

Write the program below which ask to enter marks and can print grades for the student based on the marks:
    
    above 70, grade A
    from 70 to 60, grade B
    from 60 to 50, grade C
    below 50, grade F

In [ ]:
A=int(input("Enetr your marks: "))
if A>=70:
    print("grade A")
elif A>=60 and A<70:
    print("grade B")
elif A>=50 and A<60:
    print("grade C")
else:
    print("grade F")